{% extends 'base.html' %}


{% block content %}

    {% if validlink %}

        <h1>Set a new password!</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Change my password">
        </form>

    {% else %}

        <p>Le lien de modification de mot de passe est invalid, probablement parcequ'il a déjà été utlisé. S'il vous plaît remplissez un nouveau formulaire de perte de mote de passe.</p>

    {% endif %}
{% endblock %}